SECRET_KEY=put-yours-here
DEBUG=True
DATABASE_URL=postgres://user:password@localhost:5432/dbname
REDIS_URL=redis://localhost:6379/0
ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SETTINGS_MODULE=zeecommerce.settings.dev
